@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #e5e5e5;
  background-color: #181e26;
  width: 100%;
}

.container {
  width: 950px;
  height: 501px;
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  background: #101317;
  box-shadow: 2px 3px 42px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin-top: 43px;
}

.container .individualUser {
  display: flex;
  border: 1px #e5e5e5 solid;
  height: 80px;
  width: 920px;
  margin-top: 10px;
  background: #1e262f;
  border-radius: 10px;
}

.headings {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: -30px;
  margin-bottom: 10px;
  
}

.box-1 {
  margin-left: 290px;
}

.box-2 {
  margin-left: 80px;
}

.box-3 {
  margin-left: 90px;
}

.Circular-progress-bar {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin-left: 86px;
  padding-top: 10px;
  align-items: center;
}

.circular-bar trail{
  stroke-linecap: butt;
  transform: rotate(-126deg);
  transform-origin: center center;
}

.circular-bar path{
  stroke-linecap: butt;
  transform: rotate(-260deg);
  transform-origin: center center;
}

.circular-bar text{
  fill: #ddd;
  font-size: 12px;
}

.user-image {
  margin-top: 18px;
  margin-left: 11px;
}

.user-name {
  width: 114px;
  height: 17px;
  margin-left: 18.32px;
  margin-top: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #ffffff;
}

.user-email,
.target {
  width: 140px;
  height: 12px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #bdbcbe;
}

.user-target {
  width: 22px;
  height: 20px;
  margin-top: 24px;
  margin-left: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
}

.date {
  margin-left: 74.17px;
  margin-top: 14px;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  text-transform: capitalize;
}


.angle-right {
  width: 30px;
  height: 60px;
  margin-left: 18px;
  margin-top: 10px;

  background: #101317;
  border-radius: 8px;
}

.angle-right div {
  margin-left: 11px;
  margin-top: 21px;
}

.Colored-progress-bar {
  width: 56.96px;
  height: 56.96px;
  margin-top: 11.19px;
  margin-left: 65px;
  box-shadow: -10px 4px 29p;
}

.bell-icon {
  width: 40px;
  height: 40px;
  margin-left: 57px;
  margin-top: 20px;
  align-items: center;
  background: #36f5c7;
  border-radius: 8px;
}

.bell {
  color: black;
  width: 18.75px;
  height: 20.84px;
  margin-top: 9.08px;
  margin-left: 10px;
}

.rightmost {
  margin-left: 30px;
}

.colored-text {
  margin-top: -40px;
  width: 30px;
  height: 15px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
  align-items: center;
  color: #ffffff;
}

.colories-text {
  font-size: 8px;
  font-weight: 500;
  align-items: center;
  color: #bdbcbe;
  font-style: normal;
  line-height: 10px;
}
