@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #e5e5e5;
  background-color: #181e26;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 95rem;
  height: 50.1rem;
  padding-top: 5.1rem;
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  background: #101317;
  box-shadow: .2rem .3rem 4.2rem rgba(0, 0, 0, 0.5);
  border-radius: 1.6rem;
  margin-top: 4.3rem;
}

.container .individualUser {
  display: flex;
  border: .1rem #e5e5e5 solid;
  height: 8rem;
  width: 92rem;
  margin-top: 1rem;
  background: #1e262f;
  border-radius: 1rem;
}

.headings {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.box-1 {
  margin-left: 29rem;
}

.steps {
  width: 1.385rem;
  height: 2rem;
}

.box-2 {
  margin-left: 8rem;
}

.box-3 {
  margin-left: 9rem;
}

.bell-nutrition {
  width: 2.4rem;
  height: 1.92rem;
}

.Circular-progress-bar {
  box-sizing: border-box;
  width: 6rem;
  height: 6rem;
  margin-left: 8.6rem;
  padding-top: 1rem;
  align-items: center;
}

.circular-bar trail {
  stroke-linecap: butt;
  transform: rotate(-126deg);
  transform-origin: center center;
}

.circular-bar path {
  stroke-linecap: butt;
  transform: rotate(-260deg);
  transform-origin: center center;
}

.circular-bar text {
  fill: #ddd;
  font-size: 1.2rem;
}

.user-image {
  width: 3.968rem;
  height: 4rem;
  margin-top: 1.8rem;
  margin-left: 1.1rem;
}

.img {
  height: 4rem;
  width: 3.968rem;
}

.user-name {
  width: 11.4rem;
  height: 1.7rem;
  margin-left: 1.832rem;
  margin-top: 2.3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  align-items: center;
  color: #ffffff;
}

.user-email,
.target {
  height: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  color: #bdbcbe;
  
}

.walked {
  font-size: .8rem;
  margin-top: .4rem;
  margin-left: 1.5rem;
  color: #bdbcbe;
}

.steps-walked {
  font-size: 1.2rem;
  color: #fff;
}

.user-target {
  width: 2.2rem;
  height: 2rem;
  margin-top: .1rem;
  margin-left: 1.7rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
}

.steps-target {
  margin-left: .3rem;
}

.date {
  margin-left: 7.417rem;
  margin-top: 1.4rem;
  font-weight: 600;
  font-size: 1.4rem;
  align-items: center;
  text-transform: capitalize;
}

.user-check {
  margin-right: .2rem;
  margin-top: .2rem;
  height: 1.625rem;
}

.calender-check {
  margin-right: .8rem;
  margin-top: 1.104rem;
  height: 2.113rem;
}

.angle-right {
  width: 3rem;
  height: 6rem;
  margin-left: 1.8rem;
  margin-top: 1rem;

  background: #101317;
  border-radius: .8rem;
}

.angle-right div {
  margin-left: 1.1rem;
  margin-top: 2.1rem;
}

.Colored-progress-bar {
  width: 5.696rem;
  height: 5.696rem;
  margin-top: 1.319rem;
  margin-left: 6.5rem;
  box-shadow: -.4rem .4rem 2.9rem #272727;
}

.bell-icon {
  width: 4rem;
  height: 4rem;
  margin-left: 5.7rem;
  margin-top: 2rem;
  align-items: center;
  background: #36f5c7;
  border-radius: .8rem;
}

.bell {
  color: black;
  width: 1.875rem;
  height: 2.084rem;
  margin-top: .908rem;
  margin-left: 1rem;
}

.rightmost {
  margin-left: 3rem;
}

.colored-text {
  margin-top: -4rem;
  width: 3rem;
  height: 1.5rem;
  margin-left: 1.4rem;
  padding-top: .2rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: .8rem;
  align-items: center;
  color: #ffffff;
}

.calories-text {
  font-size: .8rem;
  font-weight: 500;
  align-items: center;
  color: #bdbcbe;
  font-style: normal;
  line-height: 1rem;
  margin-top: .4rem;
  
}

@media(max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 45%;
  }
}


/* level-2 */

.increment {
width: 3rem;
height: 1.6rem;
margin-top: .4rem;
background: #101317;
border-radius: 4px;
margin-bottom: .2rem;
}

.plus {
  width: 1rem;
  height: 1rem;
  margin-bottom: .3rem;
  padding-bottom: .1rem;

}